

.overlay{
    display: block;
    z-index:10;
    -webkit-filter: drop-shadow(0 2px 8px rgba(0,0,0,0.5));
    filter: drop-shadow(0 2px 8px rgba(0,0,0,0.5));
    transform: scale(.1) rotate(360deg);/*skewY(180deg);*/
    transition: transform 800ms;
}


.ovl_scale {
    visibility: visible;
    transform: scale(1) rotate(360deg);/*skewY(180deg);*/
    transition: transform 800ms;
}